:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav-link:hover {
   color: red;
}

.navbar-collapse {
    display: flex;
    background-color: black;
}

 .navbarNav {
    display: flex;
    justify-content: space-evenly;
 }

 .nav-link active {
    color: aqua;

 }
.nav-link {
    color: aqua;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

 }

 img {
    position: relative;
    width: 450px;
    height: 450px;
 }

 h4 {
    color: aqua;
    font-size: 30px;
 }

 form {
   color: aqua;
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   flex-wrap: wrap;
   flex-direction: column;
 }

 footer {
   display: flex;
   background-color: black;
   border-top: 10px double aqua ;
 }

 footer ul {
  display: flex;
 }

 footer ul li {
   color: aqua;
   font-size: 20px;
   flex-direction: row;
   padding: 50px;
   justify-content: space-between;
 }