:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
}
#header-title {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 60%;
}

main {
    display: flex;
}