:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-collapse {
    display: flex;
    background-color: black;
}

 .navbarNav {
    display: flex;
    justify-content: space-evenly;
 }

.nav-link {
    color: aqua;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

 }